*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Segoe UI,Arial,sans-serif;
    background:#F1F5F9;
}

a{
    color:white;
    text-decoration:none;
}

a:hover{
    color:#38BDF8;
}