.toast{

position:fixed;

top:25px;

right:25px;

padding:15px 22px;

border-radius:12px;

font-weight:600;

z-index:9999;

color:white;

animation:fadeIn .4s;

}

.toast-success{

background:#16a34a;

}

.toast-error{

background:#dc2626;

}

@keyframes fadeIn{

from{

opacity:0;

transform:translateY(-20px);

}

to{

opacity:1;

transform:none;

}

}